.login {

}
ion-content {
  background-color: #6b6247;
}
.me {
padding-top: 30vh;
margin-left: 1vh;
margin-right: 2vh;
}

.item-input
 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 3px;
}
